@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #252734;
  font-family: 'Poppins', sans-serif;
}

#__next {
  background-color: #252734;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

body a {
  color: inherit;
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

/* End of Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color:  #2d303a; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1e27; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #171a24; 
}

/* End of Scrollbar */

/* Heights */

.h7 {
  height: 7px;
}

.h10 {
  height: 10px;
}

.h17 {
  height: 17px;
}

.h20 {
  height: 20px;
}

.h30 {
  height: 30px;
}

.h40 {
  height: 40px;
}

.h60 {
  height: 60px;
}

.h70 {
  height: 70px;
}

.h100 {
  height: 100px;
}

.h120 {
  height: 120px;
}

.h150 {
  height: 150px;
}

.h230 {
  height: 230px;
}

.h450 {
  height: 450px;
}

.h515 {
  height: 515px;
}

.h550 {
  height: 550px;
}

.h100vh {
  height: 100vh;
}

.h-fit-content {
  height: fit-content;
}

/* Widths */
.w40 {
  width: 40px;
  max-width: 40px;
}

.w60 {
  width: 60px;
  max-width: 60px;
}

.w70 {
  width: 70px;
  max-width: 70px;
}

.w100 {
  width: 100px;
  max-width: 100px;
}

.w225 {
  width: 225px;
  max-width: 225px;
}

.w375 {
  width: 375px;
  max-width: 375px;
}

.w500 {
  width: 500px;
  max-width: 500px;
}

.w550 {
  width: 550px;
  max-width: 550px;
}

.w650 {
  width: 650px;
  max-width: 650px;
}

.w1400 {
  width: 1400px;
  max-width: 1400px;
}

.w100vw {
  width: 100vw;
}

.w70pc {
  width: 70% !important;
  max-width: 70% !important;
}

.w75pc {
  width: 75% !important;
  max-width: 75% !important;
}

.w80pc {
  width: 80% !important;
  max-width: 80% !important;
}

.w90pc {
  width: 90% !important;
  max-width: 90% !important;
}

.w-fit-content {
  width: fit-content;
}

/* Padding */
.p45 {
  padding: 45px;
}

.p70 {
  padding: 70px !important;
}

.padding-icon {
  padding: 15px 22px !important;
}

.padding-testimonial {
  padding: 70px 55px !important;
}

/* Margin */
.mt20 {
  margin-top: 20px !important;
}

.mn20 {
  margin-top: -20px !important;
}

/* Border */
.grey-border {
  border: 1px solid #484f55 !important;
}

/* Border Radius */
.br20 {
  border-radius: 20px;
}

/* Images */
.img-white {
  filter: brightness(0) invert(100%);
}
.img-white:hover {
  filter: brightness(3);
}

.hover-white:hover {
  color: #fff;
}

.hover-bg-string:hover {
  background-image: url("/menu-hover-shape.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Fonts */
.cormorant {
  font-family: 'Cormorant Garamond', serif;
}

.bold {
  font-weight: bold;
}

/* Font Size */

.fs12{
  font-size: 12px;
}

.fs56{
  font-size: 56px;
}

.fs70{
  font-size: 70px;
}

/* Colors */
.bg-standart {
  background-color: #252734;
}

.bg-standart-medium {
  background-color: #282A37;
}

.bg-standart-light {
  background-color: #2A2C39;
}

.bg-standart-dark {
  background-color: #1f2029;
}

.bg-input-light {
  background-color: #e0e1e7;
}

/* Cursor */
.cursor {
  cursor: pointer;
}

/* Font Family */
.cormorant {
  font-family: 'Cormorant Garamond', serif;
}

/* Misc */
.column {
  display: flex;
  flex-direction: column;
}

.show-on-hover:hover div {
  opacity: 100% !important;
}

/* Especifics Navbar */
.centerNavbar {
  position: fixed;
  top: 0;
  right: auto;
  left: auto;
  z-index: 1030;
}

/* Especifics index.tsx */
.home-cover {
  /* height: calc(100vh - 220px); */
  min-height: 550px;
  background-image: url("/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main-font {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 110px;
}
.secondary-font {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 85px;
}

.stretched-text {
  transform: scaleY(6.5);
  transform-origin: 0 0;
}

.hover-arrow:hover i{
    transform: scaleY(2);
    transform-origin: 0 0;
}

/* Especifics ProjectCard */
.project-image {
  height: 450px;
  width: 600px;
  max-width: 600px;
}

/* @medias */
@media (max-width: 575px) {
  #section-header-long-desc {
    font-size: 35px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #section-header-long-desc {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  #home-hello {
    font-size: 65px;
  }

  #home-name {
    font-size: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #section-header-long-desc {
    font-size: 52px;
  }
}


@media (max-width: 991px) {
  #home-socials-desktop {
    display: none !important;
  }

  #nav-bar-hire-me {
    display: none !important;
  }

  #nav-bar-options {
    display: none !important;
  }

  #nav-bar-logo {
    width: 40px !important;
    height: 40px !important;
  }

  #nav-bar-height {
    height: 80px !important;
  }

  #services-card-container {
    justify-content: center !important;
  }
}

@media (min-width: 992px) {
  #nav-bar-burguer-menu {
    display: none !important;
  }
  
  #nav-bar-selected {
    display: none !important;
  }

  #home-socials-mobile {
    display: none !important;
  }
}

@media (max-width: 992px) {
  #counter-section-container {
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #section-header-long-desc {
    font-size: 63px;
  }
}

@media (max-width: 1199px) {
  #skills-column {
    flex-direction: column !important;
    align-items: center !important;
  }
}

